numpy
requests
Pillow
pandas
gpiozero
# picamera2  # globally installed, hard to install, use global site packages
# rpicamera
matplotlib
scipy
tflite-runtime
tweepy
plotly
ifcfg
uuid
google-cloud-storage