setuptools~=57.4.0
numpy
twython~=3.9.1
requests~=2.26.0
Pillow~=8.3.1
scikit-image
pandas~=1.3.0
gpiozero~=1.6.2
picamera
matplotlib
scipy~=1.7.0
tflite-runtime~=2.7.0
tweepy~=4.5.0
dash
plotly
ifcfg
uuid
google-cloud-storage